/node_modules
/public/hot
/public/storage
/public/log.txt
/storage/*.key
/vendor
/.idea
.env
.env.backup
.env_originale
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.rnd
worker.log
_ide_helper*
.phpstorm.meta.php
log.txt
/storage/clockwork
/scripts/certs

